<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block content %}
<div class="jumbotron">
    <div class="card border-info mb-3">

      <h5 class="card-header">Report</h5>
      <div class="card-body">
        <section class="content">
            {% block body %}
                <body>
                {% for line in result %}
                   {{ line }}
                {% endfor %}
                </body>
            {% endblock %}
        </section> 
      </div>
    </div>

   <a href="../" class="btn btn-primary">Go back to home</a>
</div>
{% endblock %}