{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<div class="card border-info mb-3"">
	  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	  <h5 class="card-header">Generate customized report</h5>
	  <div class="card-body">
	    <p class="card-text">Please input batch number!</p>
			  <form method=post>
			    <input type="text" placeholder="batch number" name="batchnum" />
			    <input type=submit value=Generate>
			  </form>
	  </div>
	</div>
</div>
{% endblock %}