
{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<div class="card border-info mb-3">
	  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	  <h5 class="card-header">New Post</h5>
	  <div class="card-body">
		  <form method="post">
		  	<div class="form-group">
			    <label for="title">Title</label>
			    <input name="title" id="title" class="form-control" value="{{ request.form['title'] }}" required>
			</div>
		  	<div class="form-group">
			    <label for="exampleFormControlTextarea1">Body</label>
			    <textarea name="body" class="form-control form-control-sm" id="exampleFormControlTextarea1">{{ request.form['body'] }}</textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>	 
	  </div>
	</div>
</div>
{% endblock %}