
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Menu{% endblock %}</h1>
    {% for name in admins %}
        {% if g.user['username'] == name %}
            <a class="action" href="{{ url_for('upload.index') }}">Upload Weekly Envelopes</a>
            <a class="action" href="{{ url_for('env.register') }}">Register New Envelope</a>
        {% endif %}
    {% endfor %}
    {% if g.user %}
        <a class="action" href="{{ url_for('blog.create') }}">New Post</a>
    {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}