{% extends 'base.html' %}

<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <style>
div.a {
    line-height: 10px;
}
</style> -->

{% block content %}
<div class="jumbotron">
    <article class="post">

      <div class="span8"">
        {% for post in posts %}

        <h3 style="line-height:50px">{{ post['title'] }}</h3>
        {% for sent in post['body'].split('\n'): %}
          <p style="line-height:12px"> {{sent}}</p>
        {% endfor %}

        <div>
          <span class="badge badge-info">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</span>
          {% if g.user['id'] == post['author_id'] %}
            <span class="badge badge-warning"><a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a></span>
          {% endif %}
        </div>
          {% if not loop.last %}
              <hr>
            {% endif %}
          {% endfor %}
        </div> 

      </div>
    </article>
</div>
{% endblock %}
