{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <div class="card border-info mb-3">
  <div class="card-body">

  <form method="post">
    <div class="form-group">
    <label for="title">Title</label>
    <input name="title" id="title" class="form-control"
      value="{{ request.form['title'] or post['title'] }}" required>
    </div>
    <div class="form-group">
    <label for="body">Body</label>
    <textarea name="body" id="body" class="form-control form-control-sm">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>

  </div>
  </div>
</div>
{% endblock %}