{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<div class="card border-info mb-3"">
	  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	  <h5 class="card-header">Upload new weekly envelopes</h5>
	  <div class="card-body">
	    <p class="card-text">Select weekly envelope upload form!</p>
			  <form method=post enctype=multipart/form-data>
			    <input type=file name=file>
			    <input type=submit value=Upload>
			  </form>
	  </div>
	</div>
</div>
{% endblock %}
