{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<div class="card border-info mb-3">
    <h4 class="card-header">Note</h4>
  	  <div class="card-body">
          <p class="'card-text">Finished uploading file successfully!</p>
              <form method="post">
                <button type="submit" class="btn btn-primary">Run Operations</button>
              </form>
      </div>
    </div>
</div>
{% endblock %}