
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">


<div class="login-page">


  <div class="form">

	</form class="form-group">
		  {% for message in get_flashed_messages() %}
		    <div class="flash"><h3>{{ message }}</h3></div>
		  {% endfor %}
	</form>

    <form class="login-form" method="post">
      <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" name="password" />
      <button type="submit">Login</button>
      <p class="message">Not registered? <a class="action" href="{{ url_for('auth.register') }}">Create an account</a></p>
    </form>
  </div>

</div>